<!--The content below is only a placeholder and can be replaced.-->
<!--<div>-->
  <!--<h1>-->
    <!--Welcome to {{ title }}!-->
  <!--</h1>-->
<!--</div>-->
<!--<div>-->
  <!--<form action="/regist" method="post">-->
    <!--<div>用户名：<input type="text"></div>-->
    <!--<div>手机号：<input type="text"></div>-->
    <!--<div>密码：<input type="password"></div>-->
    <!--<div>确认密码：<input type="password"></div>-->
    <!--<button type="submit">注册</button>-->
  <!--</form>-->
<!--</div>-->
<!--<app-template-form></app-template-form>-->
<!--<app-reactive-form></app-reactive-form>-->
<app-reactive-regist></app-reactive-regist>
<router-outlet></router-outlet>
